body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


h3 {
    text-align: center;
    margin: 2%;
}

label {
    display: block;
    margin-bottom: 1%;
}

input{
    width: 96%;
    padding: 1%;
    margin: 0.5%;
}
textarea {
    width: 88%;
    padding: 5%;
    margin: 0.5%;
}
