h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

table,
th,
td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 2%;
    text-align: center;
}

table {
    width: 100%;
    height: 80%;
    border-width: 1.5px;
}
