table,
th,
td {
    border: 1px black solid;
    border-collapse: collapse;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
    border-color: rgb(146, 73, 255);
    border-width: 4px;
}

th {
    background-color: rgb(255, 207, 253);
    color: rgb(187, 0, 156);
}

tr {
    color: rgb(15, 75, 90);
}