table,
th,
td {
    border: 1px black solid;
    border-collapse: collapse;
    padding: 50 50 50 50;
    padding: 100%;
    text-align: center;
    border-color: #2a1200;
    border-width: 2px;
}

th {
    background-color: rgb(145, 88, 47);
    color: rgb(255, 255, 255);
}

tr {
    color: rgb(15, 75, 90);
}