header {
    background: #ffe6e6;
    padding: 2%;
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 5%;

}

nav a {
    text-decoration: none;
    margin: 15px;
    display: flex;
    justify-content: flex-end;
}

.sidebar {
    margin-top: 1%;
    margin-right: 3%;
    width: 5%;
    background-color: pink;
    height: 100%;
    padding: 2%;
    float: left;
}

.sidebar a {
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 5%;
    margin-bottom: 20%;
}


.sidebar a:hover {
    background-color: rgb(165, 84, 98);
}

article {
    margin: 3%;
    margin-left: 10%;
    margin-right: 3%;
    text-align: left;
}

footer {
    margin-top: 5%;
    text-align: center;
    margin-right: 2%;
    font-size: smaller;

}