header {
    background: #ffe6e6;
    padding: 5%;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav a {
    text-decoration: none;
    margin: 15px;
    display: flex;
    justify-content: flex-end;
}

.sidebar {
    margin: 2;
    width: 30;
    background-color: pink;
    height: 100%;
    position: fixed;
    line-height: 5%;
}

.sidebar a {
    display: block;
    color: rgb(56, 56, 56);
    height: 10%;
    width: auto;
    line-height: 10%;
    text-align: center;
}