h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

label {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    margin: 1%;
}
input {
    float: right;
    display: flex;
    align-items: flex-end;
}
